@font-face {
  font-family: "Handjet";
  src: url("/Handjet.ttf") format("truetype");
}

:root {
  body {
    margin: 0 !important;
    padding: 0 !important;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden !important;
   
  }
  p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}
}